<!doctype html>
<html>

	<body>
		<div id='text'></div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script>
			
			var wordList = [];
		
			
			$.get('http://app.linkedin-reach.io/words', {minLength: 5, maxLength: 7})
				.done(function(data) {
				wordList.push(data);
				console.log('data = ' + data);
			})
		
		</script>
	</body>
	


	<style>

		#text {
			position: relative;
			width: 50%;
			padding: 4% 4% 4% 4%;
			margin: 5% 0 0 5%;
			border-style: solid;
			border-radius: 10px;
			border-width: 4px;
		}

	</style>


	
</html>