/*

Color Theme:

yellow 		#F8D719;
tbLight 	#95C0F7;
tbDark 		#092C5C;
correct 	#22bb33;
incorrect #bb2124;
grey 			#aaaaaa;

*/

.game-title {
	position: relative;
	border-radius: 12px;
	border-width: 3px;
	border-style: solid;
	border-color: #F8D719;
	background: linear-gradient(to right bottom, #95C0F7, #fcf592);
	text-align: center;
	font-family: avenir;
	color: #092C5C;
	padding: 2% 0 2% 0;
}

.dashboard {
	background: linear-gradient(to right bottom, #092C5C, #95C0F7);
	color: #F8D719;
	font-family: avenir;
	font-size: 1.5em;
	padding: 1% 0 0 0;
}

.modal {
	position: absolute;
	display: none;
	background-color: aliceblue;
	width: 40%;
	height: 32%;
	border-style: solid;
	border-radius: 12px;
	border-width: 2px;
	padding: 2% 2% 2% 2%;
	margin: 15% 0 0 28%;
}

.gameword-display{
	text-align: center;
	color: #092C5C;
	font-weight: bolder;
	border-style: dotted;
	border-width: 3px;
	border-color: #95C0F7;
	margin: 1% 0 0 0;
	padding: 1% 1% 1% 1%;
	font-family: avenir;
	font-size: 24px;
}

.game-number {
	text-align: center;
	font-weight: bold;
}

.guessbox {
	text-align: center;
}

.guess {
	color: black;
}

.game {
	background: linear-gradient(to right bottom, #F8D719, white);
	padding: 1% 0 4% 0;
	height: 1000px;
}

.letter-row {
	position: relative;
	display: inline-block;
	text-align: center;
}

.letterdiv {
	display: inline-block;
	margin: 0.5% 0.5% 0.5% 0.5%;
	font-weight: bolder;
	font-family: times;
	font-size: 1.5em;
	color: black;
}

.gallows-row {
	height: 55%;
}

.gallows {
	position: relative;
	padding: 1% 0 4% 0;
	text-align: center;
	height: 35em;
}

.board {
	background-color: saddlebrown;
	position: absolute;
}

.board-right {
	height: 95%;
	width: 5%;
	right: 15%;
}

.board-hook {
	height: 10%;
	width: 5%;
	top: 8%;
	right: 60%
}

.board-top {
	width: 50%;
	height: 5%;
	right: 15%;
}

.board-bottom {
	width: 65%;
	height: 7%;
	bottom: 0%;
	right: 5%
}

.body {
	position: absolute;
	background-color: #092C5C;
	opacity: 0.2;
}

.body-head {
	height: 10%;
	width: 10%;
	border-radius: 50%;
	right: 57.5%;
	top: 17%
}

.body-torso {
	height: 20%;
	width: 3%;
	top: 27%;
	right: 61%
}

.arm-left {
	height: 14%;
	width: 2%;
	transform: rotate(30deg);
	right: 65%;
	top: 28%
}

.arm-right {
	height: 14%;
	width: 2%;
	transform: rotate(-30deg);
	right: 58%;
	top: 28%
}

.leg-left {
	height: 18%;
	width: 2%;
	transform: rotate(30deg);
	right: 65%;
	top: 43%
}

.leg-right {
	height: 18%;
	width: 2%;
	transform: rotate(-30deg);
	right: 57%;
	top: 43%
}

.letter-boxes {
	text-align: center;
	font-family: times;
	transition: all 0.4s ease;
}

.letter-box {
	position: relative;
	width: 8%;
/*	height: 45px;*/
	display: inline-block;
	border-style: solid;
	border-color: #95C0F7;
	border-radius: 10px;
	border-width: 5px;
	font-size: 34px;
	padding: 2% 2% 2% 2%;
	margin: 0 1% 0 1%;
	background-color: #F8D719;
	color: #F8D719;
}




